@model Product

<h1>Product Details</h1>

<div>
    Product ID: @Model.ProductID <br />
    Name: @Model.Name <br /> <br />
    Description: @Model.Description <br /> <br />
    Year: @Model.Year <br />
    Author: @Model.Author <br />
    Category: @Model.Category <br />
    Price: @Model.Price <br />
</div>

<br/>

<a asp-action="Review" class="btn btn-secondary">Write a Review</a>

<br/>



