@model Product

<h1>Product Details</h1>

<div>
    Product ID: @Model.ProductID <br />
    Name: @Model.Name <br /> <br />
    Description: @Model.Description <br /> <br />
    Year: @Model.Year <br />
    Author: @Model.Author <br />
    Category: @Model.Category <br />
    Price: @Model.Price <br />
</div>

<br />

<form asp-action="Review"
      asp-controller="Review" asp-route-productId="@Model.ProductID">
    <input type="hidden" asp-for="ProductID" />
    <button type="submit" class="btn btn-secondary">Write Reviews</button>
</form>
<form asp-action="ReviewList"
      asp-controller="Review" asp-route-productId="@Model.ProductID">
    <input type="hidden" asp-for="ProductID" />
        <button type="submit" class="btn btn-secondary">Read Reviews</button>
</form>
<br />



